.area-index {
  padding: 0;
  margin: 0;
}

#sync-info {
  margin: 0;
  overflow: hidden;
  background-color: #3E4D60;
  padding: 2px 0;
  border-bottom: 1px solid #354151;
}

.area-index #sync-status{
  margin: 10px 0 0 20px;
  line-height: 28px;
  font-size: 14px;
}

.area-index .sync-areas {
  float: right;
  margin: 3px 15px 3px 0;
}

.area-index .sync-areas img {
  height: 13px;
  width: 13px;
  position: relative;
  top: 1px;
}

#area-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow:scroll;
  height: 579px;
}

#area-list > li {
  background: #232833;
  padding: 7px 12px;
  margin-bottom: 0;
  margin: 10px;
  border-radius: 10px;
  border-top: 1px solid #27313d;
  border-bottom: 1px solid #404d5c;
  overflow:hidden;
  color: #D3D5D9;
}

#area-list > li.downloaded {
  background-color: #2A303E;
}

.area-attributes {
  float:left;
  width: 190px;
}

.area-actions {
  float:right;
  width: 72px;
}

.area-actions {
  text-shadow: 0px -1px 0px #000;
  margin: auto;
}

#area-list h3 {
  margin: 0;
  font-size: 18px;
  text-shadow: 0px -2px 0px #27313d;
}

.area-attributes p {
  color: #9a9da1;
  font-size: 12px;
  margin: 0;
}

.area-actions {
  font-size: 10px;
  font-weight: bold;
}

.area-actions img {
  display:block;
  margin: auto;
  margin-top: -2px;
  margin-bottom: 2px;
  height: 21px;
  width: 21px;
}

.area-actions div {
  text-align:center;
}

#area-list .headline a {
  float:right;
  margin-top: 0;
}

#area-list .data-generating {
  float:right;
  color: #CCC;
  padding-top: 2px;
}
