#modal-disabler {
  display:none;
}

#modal-container {
  display:none;
}

.login{
  color: #95979b;
}

.login form{
  padding:0;
  margin: 0;
}

#login-form .loading-spinner {
  height: 21px;
  width: 21px;
  position: relative;
  top: 6px;
  display: none;
}

#modal-disabler.active{
  display:block;
  position:absolute;
  top: 0;
  left: 0;
  height: 768px;
  width: 100%;
  background-color: rgba(0,0,0, 0.5);
  z-index: 1000;
}

#modal-disabler.active #modal-container {
  display:block;
  background-color: #2A303E;
  color: #D4D6D8;
  height: 210px;
  width: 400px;
  margin: auto;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border: 1px solid #4F545E;
  border-radius: 10px;
  padding: 20px;
}

#login-form {
  position:relative;
}

#login-form li {
  margin-bottom: 20px;
}

#login-form label {
  position: absolute;
  right: 290px;
  margin-top: 4px;
}

#login-form input {
  position: absolute;
  left: 120px;
  height: 20px;
}

#login-form .btn{
  margin-left: 120px;
  margin-top: 10px;
}

.error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  padding: 3px 35px 3px 14px;
  border-radius: 5px;
  display: none;
}

.login.error{
  display: none;
}
