#map {
  width: 716px;
  height: 100%;
  float:left;
}

.layer-legend {
  border-left: 20px solid #007DFF;
  margin-left: 5px;
  padding-left: 3px;
}

.layer-legend.Mangrove {
  border-color: #008B00;
}

.layer-legend.Seagrass {
  border-color: #9B1DEA;
}

.layer-legend.Sabkha {
  border-color: #F38417;
}

.layer-legend.Algal {
  border-color: #FFE048;
}

.layer-legend.Other {
  border-color: #1DCBEA;
}
