#validation-list {
  padding: 10px;
}

#validation-list li{
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #2A303E;
  color: #9a9da1;
  margin-bottom: 5px;
}

.delete-validation {
  height: 25px;
  width: 25px;
  float: right;
}

#validation-attributes {
  display:none;
}

#draw-polygon-notice {
  color:white;
  padding: 15px;
  font-size: 17px;
  text-align: center;
}

#undo-last-marker {
  margin-top: 10px;
}

#undo-last-marker img {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

#validation-attributes #validation-details{
  display:none;
}

#validation-attributes #validation-details .conditional{
  display:none;
}

#validation-attributes #create-analysis{
  display:none;
  float:right;
}

#validation-attributes textarea {
  width: 95%;
  height: 75px;
}

.success-notice,
.error-notice {
  padding: 8px 14px;
}

#side-panel .success-notice,
#side-panel .error-notice {
  float: right;
  margin: 15px;
  border-radius: 5px;
}

.success-notice {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

.error-notice {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.error-notice > ul {
  padding-left: 0;
}

.error-notice > ul ul li {
  padding-left: 5px;
  list-style-type: disc;
}

.validation-details {
  display: none;
}

ul.fields {
  padding: 10px;
}

ul.fields li{
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #2A303E;
  color: #9a9da1;
  margin-bottom: 5px;
  overflow:hidden;
}

ul.fields label{
  float:left;
}

ul.fields select{
  float:right;
}

ul.fields input{
  width: 243px;
  float:left;
  border-radius: 10px;
  background: #FFF;
}

#upload-validations {
  border-radius: 12px;
  border: 1px solid #2F333F;
  float:right;
  font-family: Helvetica;
  font-weight: normal;
  margin-right: 15px;
  padding: 5px 7px;
  overflow:hidden;
}

#upload-validations span {
  float:left;
}

#upload-validations img {
  margin-top: 1px;
  margin-left: 5px;
  height: 16px;
  width: 24px;
  float:right;
}

#uploading-validations {
  float:right;
  margin-right: 15px;
}

#uploading-validations img {
  height: 21px;
  width: 21px;
  margin-top:3px;
}

